/* Write your CSS here! */
h1 {
    text-decoration: underline;
    color: midnightblue;
    font-style: oblique;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

h2 {
    color: darkslateblue;
    text-emphasis-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: slateblue;
    text-emphasis-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
vertical-align: middle;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 200
}

